# common
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CMDLINE_BOOL=y
CONFIG_FDDI=n
CONFIG_MACINTOSH_DRIVERS=n
CONFIG_USB_PRINTER=n

# useful gadgets
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_CP210X=m
CONFIG_USB_ACM=m
CONFIG_USB_RTL8152=m
CONFIG_USB_IPHETH=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_CH341=m

# Misc
CONFIG_REISERFS_FS=m
