# libvirt
CONFIG_BRIDGE_EBT_MARK_T=m
CONFIG_BRIDGE_NF_EBTABLES=m
CONFIG_NETFILTER_XT_CONNMARK=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=m
CONFIG_IP6_NF_NAT=m
CONFIG_BRIDGE_EBT_T_NAT=m
CONFIG_NET_ACT_POLICE=m
CONFIG_NET_CLS_FW=m
CONFIG_NET_CLS_U32=m
CONFIG_NET_SCH_HTB=m
CONFIG_NET_SCH_INGRESS=m
CONFIG_NET_SCH_SFQ=m
CONFIG_MACVTAP=m
CONFIG_TAP=m
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NETFILTER_XT_CONNMARK=m
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=m
CONFIG_IP6_NF_NAT=m
