# R630
CONFIG_CMDLINE="root=PARTUUID=a8e2a688-7319-4a9a-b76c-1211198818f6"
CONFIG_DM_CACHE=m
CONFIG_DM_CACHE_SMQ=m
CONFIG_XFS_FS=m
CONFIG_BNX2=m
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI_MPT3SAS=y
CONFIG_MCORE2=y

# EFI
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FB_EFI=y
# SAS
CONFIG_MEGARAID_SAS=y
CONFIG_IXGBE=y
# Sensors
CONFIG_SENSORS_CORETEMP=m
CONFIG_I2C_CHARDEV=m
