# XPS
CONFIG_CMDLINE="root=PARTUUID=302c1a81-7e5a-4695-83cc-53006266ff27"
CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_USB_XHCI_HCD=y
CONFIG_LOGO=n
CONFIG_WLAN_VENDOR_ADMTEK=n
CONFIG_IWLWIFI=m
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m
CONFIG_FIRMWARE_IN_KERNEL=n
CONFIG_DCDBAS=m
CONFIG_FUSE_FS=m
CONFIG_SND_USB_AUDIO=m
CONFIG_THUNDERBOLT=m
CONFIG_INTEL_WMI_THUNDERBOLT=m
CONFIG_ACPI_WMI=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SOUND=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_DYNAMIC_MINORS=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_HOTPLUG_PCI_ACPI=y
CONFIG_E1000E=m

# Dell
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_DELL_SMBIOS=m
CONFIG_DELL_SMBIOS_WMI=y
CONFIG_DELL_SMBIOS_SMM=y

# WIFI
CONFIG_CRYPTO_MICHAEL_MIC=y
CONFIG_ATH11K=m
CONFIG_ATH11K_PCI=m

CONFIG_MEDIA_SUPPORT=m
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_VIDEO_V4L2=m
CONFIG_USB_GSPCA=m
CONFIG_USB_GSPCA_SUNPLUS=m
CONFIG_USB_VIDEO_CLASS=m

CONFIG_MFD_RTSX_PCI=m

CONFIG_I2C_CHARDEV=m
CONFIG_DRM_I915=m

# Bluetooth
CONFIG_EXTRA_FIRMWARE="qca/htbtfw20.tlv qca/htnv20.bin"
CONFIG_EXTRA_FIRMWARE_DIR="/lib/firmware"
CONFIG_BT=m
CONFIG_BT_HCIBTUSB=m

# bluetooth over ath11k
CONFIG_BT_HCIUART_SERDEV=y
CONFIG_BT_QCA=m
CONFIG_BT_HCIUART=m
CONFIG_BT_HCIUART_QCA=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_SERIAL_8250_DW=y


CONFIG_BLK_DEV_NBD=m

CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_IOMMU_DEFAULT_PASSTHROUGH=y

CONFIG_CPU_FREQ_STAT=y
CONFIG_INTEL_IOMMU_SVM=y
CONFIG_IRQ_REMAP=y

# Misc
CONFIG_LPC_ICH=y
CONFIG_X86_INTEL_LPSS=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_GPIO_ICH=y
CONFIG_GPIOLIB=y
CONFIG_MFD_INTEL_QUARK_I2C_GPIO=y
CONFIG_PINCTRL_CANNONLAKE=y
CONFIG_USB4=y
CONFIG_I2C_GPIO=m
CONFIG_I2C_HID_ACPI=m
CONFIG_USB_UAS=m
CONFIG_I2C_NVIDIA_GPU=m

# Sensors
CONFIG_SENSORS_CORETEMP=m
